<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MQUESTSYSEntities" connectionString="metadata=res://*/MQUESTSYSEDMC.csdl|res://*/MQUESTSYSEDMC.ssdl|res://*/MQUESTSYSEDMC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E00PLKJ\SQLSERVER2012;initial catalog=MQUESTSYS;user id=sa;password=tiar1!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>