@using MPL.MVC;
@{
    var mode = (UIMode)ViewBag.Mode;
}
@if (mode != UIMode.Detail)
{
<tr valign="top">
    <td nowrap="nowrap">
        <span id="lblPasswordLabel">Password</span>
    </td>
    <td>
    :
    </td>
    <td colspan="1">
        <input id="txtPassword" name="Password" type="password" class="tbPassword" />
    </td>
</tr>
<tr valign="top">
    <td nowrap="nowrap">
        <span id="lblConfirmPasswordLabel">Confirm Password</span>
    </td>
    <td>
    :
    </td>
    <td colspan="1">
        <input id="txtConfirmPassword" name="ConfirmPassword" type="password" class="tbConfirmPassword" />
    </td>
</tr>
}