<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MQUESTSYS.ReportEDS.Properties.Settings.MQUESTSYSConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=MQUESTSYS;User ID=dba;Password=Password123;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>