/* DEFAULTS
----------------------------------------------------------*/

body
{
    background: #edefef;
    font-size: .80em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 0px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    width: 100%;
    top: 0px;
    left: 0px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 520px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color: #434343 /*#88BBFF*/;
    width: 100%;
    height: 34px;
    margin: 0% 0% 0% 0%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #434343;
    border: 0px solid #4e667d;
    color: #FFFFFF;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #519FFF;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

div.menu p
{
    clear: left;
}


/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: Blue;
}

.loginDisplay a:link
{
    color: Blue;
}

.loginDisplay a:visited
{
    color: Blue;
}

.loginDisplay a:hover
{
    color: Blue;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

/*========================================================*/
.subtitle
{
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 5px;
}

.iconContainer
{
    text-align: center;
    width: 18px;
}

.error
{
    color: Red;
}

.editNewControl
{
}

.viewUpdateControl
{
}

.editControl
{
}

.viewControl
{
}

.greenRow
{
    background-image: url('../App_Themes/DefaultTheme/Images/GreenRow.jpg');
}

.regularTextBox
{
    width: 300px;
}

.longTextBox
{
    width: 600px;
}

/*----------------------------------------------*/
.tabs
{
    width: 200px;
    height: 20px;
    text-align: center;
    font: bold 11px "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
    color: #5f86ae;
    margin-bottom: 0px;
    text-decoration: none;
    margin-right: -1px;
    padding-top: 3px;
    background: #f4f4f4;
    border: solid 1px #b5b5b5;
    float: left;
    text-transform: uppercase;
}
.tabs a:link
{
    width: 200px;
    text-decoration: none;
    text-align: center;
    color: #5f86ae;
    background: #f4f4f4;
    float: left;
    height: 16px;
}
.tabs a:hover
{
    height: 20px;
    color: #f27d00;
    border-top: solid 1px #b5b5b5;
    border-right: solid 1px #b5b5b5;
    border-left: solid 1px #b5b5b5;
    border-bottom: solid 1px #b5b5b5;
    position: relative;
    padding-top: 4px;
    margin-top: -5px;
    margin-left: -1px;
    background-image: url(images/tab_shading.gif);
    background-repeat: repeat-x;
    background-position: top;
}
.tabstatic
{
    height: 21px;
    width: 200px;
    text-align: center;
    font: bold 11px "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-top: 3px;
    float: left;
    text-transform: uppercase;
    border-top: solid 1px #b5b5b5;
    border-right: solid 1px #b5b5b5;
    border-left: solid 1px #b5b5b5;
    background-color: #f4f4f4;
    z-index: 1000;
    padding-top: 4px;
    margin-top: -1px;
    margin-right: -1px;
    background-image: url(images/tab_shading.gif);
    background-repeat: repeat-x;
    background-position: top;
}
.tabspacer
{
    height: 24px;
    border-bottom: solid 1px #b5b5b5;
    margin-right: 1px;
}


/*=============Theme=================*/
.button
{
    text-decoration: none;
    background-color: #c2dcff;
    border: solid 1px #415D9B;
    margin: 5px;
    height: 20px;
    float: left;
    display: block;
    padding: 2px 5px 2px 22px;
    background-position: 5% 50%;
    background-repeat: no-repeat;
}

.button:hover
{
    background-color: #88BBFF;
}

.button:active
{
    border-top: solid 1px black;
}

.add
{
	background-image: url('../App_Themes/Default/Images/add.png');
}

.edit
{
    background-image: url('../App_Themes/Default/Images/edit.png');
}

.save
{
    background-image: url('../App_Themes/Default/Images/save.png');
}

.cancel
{
    background-image: url('../App_Themes/Default/Images/cancel.png');
}

.delete
{
    background-image: url('../App_Themes/Default/Images/delete.png');
}

.approve
{
    background-image: url('../App_Themes/Default/Images/approve.png');
}

.backToList
{
    background-image: url('../App_Themes/Default/Images/backToList.png');
}

.print
{
    background-image: url('../App_Themes/Default/Images/print.png');
}

.reopen
{
    background-image: url('../App_Themes/Default/Images/reopen.png');
}

.createAnother
{
    background-image: url('../App_Themes/Default/Images/createAnother.png');
}

.createDocument
{
    background-image: url('../App_Themes/Default/Images/createDocument.png');
}

.workOrder
{
    background-image: url('../App_Themes/Default/Images/workOrder.png');
}
