@using MQUESTSYS.Models.Master
@using MPL.MVC;
@model CompanySettingModel
@{
    var mode = (UIMode)ViewBag.Mode;

    var uploadForm = "<tr><td>Company Logo</td><td>:</td><td><input type=\"file\" name=\"file\" id=\"file\"</td></tr>";
    var uploadedFile = "<tr><td style='vertical-align:top'>Logo Perusahaan</td><td style='vertical-align:top'>:</td><td><img src=\"" + Url.Content("~/Content/Site/Image/" + Model.ImageName) + "\" style='height:100px' /></td></tr>";

    var formFields = new List<IFormField>()
    {
        Html.HiddenFieldFieldObjFor(p=>p.ID,"ID"),
        
        Html.TextBoxFieldObjFor(p=>p.Name,"Company Name", delegate(FormField f){
            f.Style = "width:250px";
        }),
        
        Html.TextBoxFieldObjFor(p=>p.OwnerName,"Owner Name", delegate(FormField f){
            f.Style = "width:250px";
        }),
        
        Html.TextBoxFieldObjFor(p=>p.OwnerEmail,"Owner Email", delegate(FormField f){
            f.Style = "width:250px";
        }),
        
        Html.TextBoxFieldObjFor(p=>p.TaxFileNumber,"Tax File Number", delegate(FormField f){
            f.Style = "width:200px";
        }),
        
        Html.TextAreaFieldObjFor(p=>p.Address,"Address", delegate(FormField f){
            f.Style = "width:400px";
        }),
        
        Html.DualColumnFormFieldObj(
        Html.TextBoxFieldObjFor(p=>p.Regency,"Regency"),
        Html.TextBoxFieldObjFor(p=>p.City,"City"),
        100),
        
        Html.DualColumnFormFieldObj(
        Html.TextBoxFieldObjFor(p=>p.State,"State"),
        Html.TextBoxFieldObjFor(p=>p.PostCode,"Post Code"),
        100),
        
        Html.DualColumnFormFieldObj(
        Html.TextBoxFieldObjFor(p=>p.Phone1,"Phone 1"),
        Html.TextBoxFieldObjFor(p=>p.Fax,"Fax"),
        100),
        
        Html.TextBoxFieldObjFor(p=>p.Phone2,"Phone 2"),
        Html.TextBoxFieldObjFor(p=>p.Website,"Website"),
        Html.TextBoxFieldObjFor(p=>p.Email,"Email"),
        
        Html.FullRowFormFieldObj("<br/><b>Account Info</b>","<br/><b>Account Info</b>","<br/><b>Account Info</b>"),
                
        Html.DualColumnFormFieldObj(
        Html.TextBoxFieldObjFor(p=>p.BankName1,"Bank Name 1"),
        Html.TextBoxFieldObjFor(p=>p.BankName2,"Bank Name 2"),
        100),
        
        Html.DualColumnFormFieldObj(
        Html.TextAreaFieldObjFor(p=>p.BankAddress1,"Bank Address 1", delegate(FormField f){
            f.Style = "width:300px";
        }),
        Html.TextAreaFieldObjFor(p=>p.BankAddress2,"Bank Address 2", delegate(FormField f){
            f.Style = "width:300px";
        }),
        100),
        
        Html.DualColumnFormFieldObj(
        Html.TextBoxFieldObjFor(p=>p.BranchAccount1,"Branch Account 1"),
        Html.TextBoxFieldObjFor(p=>p.BranchAccount2,"Branch Account 2"),
        100),
        
        Html.DualColumnFormFieldObj(
        Html.TextBoxFieldObjFor(p=>p.AccountNumber1,"Account Number 1"),
        Html.TextBoxFieldObjFor(p=>p.AccountNumber2,"Account Number 2"),
        100),
        
        Html.DualColumnFormFieldObj(
        Html.TextBoxFieldObjFor(p=>p.AccountName1,"Account Name 1"),
        Html.TextBoxFieldObjFor(p=>p.AccountName2,"Account Name 2"),
        100),
        
        Html.FullRowFormFieldObj(uploadForm,uploadForm,uploadedFile),
        //Html.FullRowFormFieldObj(uploadForm2,uploadForm2,uploadedFile2),
        //Html.FullRowFormFieldObj(uploadForm3,uploadForm3,uploadedFile3),
    };

    var form = new Form();
    form.Fields = formFields;
}
<script type="text/javascript">
    $(function () {
        var action = $("#hdnAction").val();

        $('#Form1').attr("enctype", "multipart/form-data");
        $('#Form1').attr("action", "/CompanySetting/UpdateSetting");
    });
</script>
@Html.MasterForm(form, Model, mode, "CompanySetting", "ID", delegate(MasterFormHelper<CompanySettingModel> helper)
    {
        helper.CreateAnotherButton.Visible = helper.DeleteButton.Visible = false;
        helper.BackToListButton.Href = Url.Content("~");
    })
